{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
{% for cart in cart %}
{#    {{ recipe.get_absolute_url }}#}
    <h1>{{ cart.recipe.name }}</h1>

{#    <img src="{{ recipe.image.url }}">#}
    {% for ingredient in cart.recipe.list_ingredient.all %}
        <ul><li>{{ ingredient.name }}</li></ul>
    {% endfor %}
    <div id="favourite-section">
        <a href="{% url 'cart:delete_from_cart' cart.id %}" class="btn btn-outline-primary">
            Удалить из корзины
        </a>
    </div>
    <br>
{% endfor %}
{% endblock %}