{% extends "base.html" %}

{% block title %}Черный список{% endblock %}

{% block content %}
{% for blacklist in blacklist %}
{#    {{ recipe.get_absolute_url }}#}
    <h1>{{ blacklist.disease }}</h1>

{#    <img src="{{ recipe.image.url }}">#}
    {% for ingredient in blacklist.disease.list_ingredient.all %}
        <ul><li>{{ ingredient.name }}</li></ul>
    {% endfor %}

    <div id="favourite-section">
        <a href="{% url 'diseases:delete_from_blacklist' blacklist.id %}" class="btn btn-outline-primary">
            Удалить из черного списка
        </a>
    </div>
{% endfor %}
{% endblock %}