{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ингредиенты{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Ингредиенты</a>
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello, <a href="{% url 'account:dashboard' %}">{{ request.user.first_name }}</a>,
            <a href="{% url 'account:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'account:login' %}">Log-in</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>