{% extends "recipes/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Рецепты{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "recipes:recipe_list" %}">Все рецепты</a>
        </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div id="main" class="recipe-list">
    <h1>{% if category %}{{ category.name }}{% else %}Рецепты{% endif %}</h1>
    {% for recipe in recipes %}
        <div class="item">
        <a href="{{ recipe.get_absolute_url }}">
            <img src="{{ recipe.image.url }}">
        </a>
        <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}