{% extends 'recipes/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    	<div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container">
			<ol class="breadcrumb opacity-5">
				<li><a href="/">Home</a></li>
				<li><a href="#">Add Recipe</a></li>
			</ol>
			<h1 class="font-weight-300">Add Recipe</h1>
		</div>
	</div>
    <div class="container">
		<div class="margin-tb-45px full-width">
			<h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10"><i class="far fa-list-alt margin-right-10px text-main-color"></i>Basic Informations</h4>
			<div class="padding-30px padding-bottom-30px background-white border-radius-10">
                <form method="post" enctype="multipart/form-data">
{#                    {% csrf_token %}#}
{#                    {{ form.as_p }}#}
{#                    {{ formset.management_form }}#}
{#                            {% for form in formset %}#}
{#                                {{ form }}<br><br>#}
{#                    {% endfor %}#}
                        {% csrf_token %}

                    {% crispy form %}
{#                        {% crispy form %}#}
{#    {{ direction_form.management_form }}#}
{#    {{ direction_form.non_form_errors }}#}

{#    {% crispy direction_form direction_formhelper %}#}
{#            <button type="submit" class="save btn btn-default">Save</button>#}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

{{ form.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endblock %}