{% extends "recipes/base.html" %}
{% load static %}

{% block title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}
    <div class="recipe-detail">
        <img src="{{ recipe.image.url }}">
        <h1>{{ recipe.name }}</h1>
        <a href="{% url 'account:favourite_recipe_add' recipe.id %}" class="btn btn-outline-primary">Add to Favourites</a>
        <br>
{#        <a href="{% url 'account:add_to_cart' recipe.id %}" class="btn btn-outline-primary">Add to Cart</a>#}
        <a href="{% url 'cart:cart_add' %}" class="btn btn-outline-primary">Add to Cart</a>
        <form action="{% url 'cart:cart_add' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add to cart" />
        </form>

        <h2>{{ recipe.category }}</h2>

        <h1>Ингредиенты</h1>
        {% for ingredient in recipe.list_ingredient.all %}
			<ul><li>{{ ingredient.name }}</li></ul>
        {% endfor %}

        {{ recipe.directions|linebreaks }}
    </div>
{% endblock %}
