{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Рецепты{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
{#    <a href="/" class="logo">Рецепты1111</a>#}
{#    <a href="{% url 'ingredients:ingredient_list' %}" class="logo">Ингредиенты</a>#}
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello, <a href="{% url 'dashboard' %}">{{ request.user.first_name }}</a>,
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>