{% extends "base.html" %}
{% block title %}Ингредиенты{% endblock %}

{% block content %}
    <form class="form-inline mt-2 mt-md-0" action="{% url 'ingredients:ingredient_search_results' %}" method="get">
        <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    </form>


    {% for ingredient in ingredient_list %}
        <div class="item">
            <img src="{{ ingredient.image.url }}">
            <br>
            {{ ingredient.name }}
            <a href="{% url 'account:favourite_ingredient_add' ingredient.id %}" class="btn btn-outline-primary">Add to Favourites</a>
        </div>
    {% endfor %}
{% endblock %}


{#{% extends "ingredients/base.html" %}#}
{#{% load static %}#}
{##}
{#{% block title %}#}
{# {% if category %}{{ category.name }}{% else %}Ингредиенты{% endif %}#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div id="sidebar">#}
{#    <h3>Категории</h3>#}
{#    <ul>#}
{#        <li {% if not category %}class="selected"{% endif %}>#}
{#        <a href="{% url "ingredients:ingredient_list" %}">Все ингредиенты</a>#}
{#        </li>#}
{#        {% for c in categories %}#}
{#            <li {% if category.slug == c.slug %}class="selected"{% endif %}>#}
{#            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#    </div>#}
{#    <div id="main" class="ingredient-list">#}
{#    <h1>{% if category %}{{ category.name }}{% else %}Ингредиенты{% endif %}</h1>#}
{#    {% for ingredient in ingredients %}#}
{#        <div class="item">#}
{#        <a href="{{ ingredient.get_absolute_url }}">#}
{#            <img src="{{ ingredient.image.url }}">#}
{#        </a>#}
{#        <a href="{{ ingredient.get_absolute_url }}">{{ ingredient.name }}</a>#}
{#        </div>#}
{#    {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}