{% extends "ingredients/base.html" %}
{% load static %}

{% block content %}
    <div id="sidebar">
    <h3>Категории</h3>
    <ul>
        <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "ingredients:ingredient_list" %}">Все ингредиенты</a>
        </li>
        {% for c in categories %}
            <li {% if categoru.slug == c.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div id="main" class="ingredient-list">
    <h1>{% if category %}{{ category.name }}{% else %}Ингредиенты{% endif %}</h1>
    {% for ingredient in ingredients %}
        <div class="item">
        <a href="{{ ingredient.get_absolute_url }}">
            <img src="{{ ingredient.image.url }}">
        </a>
        <a href="{{ ingredient.get_absolute_url }}">{{ ingredient.name }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}