{% extends "recipes/base.html" %}
{% load static %}

{% block title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}
    <div class="recipe-detail">
{#        <img src="{{ disease.image.url }}">#}
        <h1>{{ disease.name }}</h1>
        <br>

        <h1>{{ disease.category.name }}</h1>

        <h1>Запрещенные ингредиенты</h1>
        {% for ingredient in disease.list_ingredient.all %}
			<ul><li>{{ ingredient.name }}</li></ul>
        {% endfor %}
        <a href="{% url 'diseases:disease_new' %}" class="btn btn-outline-primary">Add to Blacklist</a>

    </div>
{% endblock %}
