{% extends "diseases/base.html" %}
{% block title %}Disease categories{% endblock %}

{% block content %}
    <div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container text-left">
			<ol class="breadcrumb opacity-5">
				<li><a href="/">Home</a></li>
				<li class="active">Disease categories</li>
			</ol>
			<h1 class="font-weight-300">Disease categories</h1>
		</div>
	</div>
   	<div class="container margin-bottom-100px">
		<div class="row">
            {% for category in category_list %}
                <div class="col-lg-6 margin-bottom-30px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width">
                        <div class="padding-25px">
                            <a href="{% url 'diseases:category_detail' category.slug %}" class="d-block text-dark text-capitalize text-medium margin-tb-15px">{{ category.name }}</a>
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
